<div class="container">
  <div class="col-md-5"><img class="alpha" src="http://25.media.tumblr.com/261e9e9ae33e49d33a93af101f059134/tumblr_mkc7q81yBj1s1popdo1_500.gif" /></div>

  <div class="col-md-7">
    <div class="alpha-info">
      <h1>"Aye-yi-yi-yi-yi-yi-yi-yi-yi-yi-yi-yi!"</h1>
      <p>In the early days of the series he often acted like a younger brother to the Rangers, always wanting spend time with them and learn things (such as learning "hip-hop-kido" from Zack). He matured slightly as the series progressed, but always remained
        a naive, childlike assistant. Residing in the Command Center with Zordon, he served as the Rangers' technician, constructing weapons for them to use against the forces of Lord Zedd and Rita Repulsa.</p>

      <p>
        When Rita sent the Green Ranger to sabotage the Command Center, the evil Ranger slipped a CD into Alpha's inner workings, unleashing a virus into the unwitting droid which caused him to convulse violently (as well as make his voice falter and warp). Though
        the removal of the disc seemed to provide Alpha some temporary relief, Billy had to repair Alpha's circuitry in order to permanently remove the virus. Alpha later captured the Green Ranger in a forcefield, but Rita rescued him before Alpha could
        reveal his identity (though the computer locked-on to his bio-signals, running them through the system and thus allowing everyone to know Green Ranger's identity later) . It was after this that he successfully made reconnection with Zordon after
        he was lost in his timewarp from the earlier attack.</p>

      <p>
        When Zordon sent him to retrieve the Singing Squash for Kimberly and Billy who have transformed into punks by a potion of Baboo's slipped into their drinks, he encountered the Putty Patrol luckily he activated his internal defenses and with the help of
        the squash disabled the putties and escaped.</p>

      <p>
        In the second season of Mighty Morphin Power Rangers, Alpha had three encounters with Lord Zedd's forces. In The Wannabe Ranger, he attempted to assist a little boy lost in Angel Grove Park, but was attacked by the Primator, a shapeshifting gorilla monster
        who disguised himself as Billy and tried to trick Alpha into taking him to the Command Center. Alpha activated his self-destruct sequence to protect the Command Center, but seemed unable to deactivate it once the Primator left, and it was necessary
        for the Rangers do so. Later in the season, he would leave the Command Center to rescue the now-regressed Rangers, who had been trapped within a photograph by the Photomare monster after being regressed into children. In his attempt to capture
        the photo, Alpha was confronted by both Photomare and Goldar, but he was able to freeze both villains with a device of his and escape.</p>

      <p>
        Near the end of the season, in The Wedding, he was ambushed by Finster and the Putties as he took a hike outside the Command Center. Just as the Green Ranger had, Finster inserted a disc into Alpha's circuits, but instead of delivering a virus, this CD
        warped Alpha's personality into an evil, obnoxious brat, who assisted Zedd and Rita by tricking the Rangers into an abandoned theater (which Finster proceeded to fill with monsters). Alpha also cut the Rangers off from Zordon and the Thunderzords.
        When Zordon's pleas for him to stop annoyed him, Alpha comically altered Zordon's image (giving him hair and glasses) before shutting Zordon off and up completely. Billy eventually removed the disc from Alpha, instantly returning him to normal.</p>

      <p>
        In the third season, it was revealed that Alpha was constructed on the planet Edenoi (located in the constellation Andromeda) by King Lexian, the grandfather of the Masked Rider. It was because of this connection that the Rangers were able to team up
        with the Rider against the forces of his foe, Count Dregon.</p>

    </div>
  </div>
</div>
