<div class="container">


<div class="col-md-3">
    <div class="power-coin"><img src="assets/power-coin-black.jpg" /></div>
    <div class="power-info">
      <h3>Black Ranger</h3>
      <h5>Spirit Animal: Mastodon </h5>
      <h6>Weapon: Power Ax</h6>
    </div>
</div>

<div class="col-md-3">
    <div class="power-coin"><img src="assets/power-coin-blue.jpg" /></div>
    <div class="power-info">
      <h3>Blue Ranger</h3>
      <h5>Spirit Animal: Triceratops </h5>
      <h6>Weapon: Power Lance</h6>
    </div>
</div>

<div class="col-md-3">
    <div class="power-coin"><img src="assets/power-coin-green.jpg" /></div>
    <div class="power-info">
      <h3>Green Ranger</h3>
      <h5>Spirit Animal: Dragon </h5>
      <h6>Weapon: Dragon Dagger</h6>
    </div>
</div>

<div class="col-md-3">
    <div class="power-coin"><img src="assets/power-coin-pink.jpg" /></div>
    <div class="power-info">
      <h3>Pink Ranger</h3>
      <h5>Spirit Animal: Pterodactyl </h5>
      <h6>Weapon: Power Bow</h6>
    </div>
</div>

<div class="col-md-4">
    <div class="power-coin"><img src="assets/power-coin-red.jpg" /></div>
    <div class="power-info">
      <h3>Red Ranger</h3>
      <h5>Animal: Tyrannosaurus Rex </h5>
      <h6>Weapon: Power Sword</h6>
    </div>
</div>

<div class="col-md-4">
    <div class="power-coin"><img src="assets/power-coin-white.jpg" /></div>
    <div class="power-info">
      <h3>White Ranger</h3>
      <h5>Spirit Animal: White Tiger </h5>
      <h6>Weapon: Saba</h6>
    </div>
</div>

<div class="col-md-4">
    <div class="power-coin"><img src="assets/power-coin-yellow.jpg" /></div>
    <div class="power-info">
      <h3>Yellow Ranger</h3>
      <h5>Spirit Animal: Saber-Toothed Tiger </h5>
      <h6>Weapon: Power Daggers</h6>
    </div>
</div>

</div>
