<div class="container">
  <div class="col-md-5">
    <img class="zordon" src="http://vignette4.wikia.nocookie.net/powerrangers/images/9/99/Zordon_introduces_himeself_to_the_teens.jpg/revision/latest?cb=20120925214426" />
    <iframe width="403" height="315" src="https://www.youtube.com/embed/AkRvn0pXTiw" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="col-md-7">
    <div class="zordon-info">
      <h1>"May the power protect you always."</h1>
      <p>Ten thousand years ago, Zordon clashes with his nemesis, Rita Repulsa, on Earth. During their final battle, Rita traps Zordon in a time warp, while Zordon seals Rita and her minions away in a "dumpster" on the Moon. After the battle ends, Zordon,
        with the aid of his robot assistant, Alpha 5, creates a Command Center in the California desert outside the city of Angel Grove. He then creates the Power Morphers, the Power Coins, and the Dinozords. When Rita Repulsa is released from the dumpster,
        Zordon recruits five teenagers from Angel Grove – Jason Lee Scott, Zack Taylor,Kimberly Hart, Trini Kwan, and Billy Cranston – to become the Power Rangers, giving them the Power Morphers, the Power Coins, and the Dinozords to battle Rita.</p>

      <h3>Zordon continues to mentor the Power Rangers over several years, creating the Zeo and Turbo powers to combat the threats of the Machine Empire and Divatox.</h3>

      <p>Over time, Zordon upgrades their Command Center, first into the Power Chamber and then into the Turbo Chamber.</p>

      <p>After some time had passed, Zordon and Alpha leave Earth for Eltar, leaving the Turbo Rangers under the mentorship of Dimitria and her assistant, Alpha 6, but return a short while later to attend the transfer of the Turbo powers.</p>

      <p>
        Months after his departure, Zordon is captured by Dark Specter, who slowly drains him of his powers. Soon afterwards, Dark Specter launches his conquest of the universe and moves Zordon to the Dark Fortress, Astronema's base. After Dark Specter is killed
        by Darkonda, Andros, the Red Space Ranger, travels to the Dark Fortress and finds Zordon. Zordon convinces Andros to shatter his energy tube, allowing his good energy to destroy the forces of evil. Zordon's death creates an energy wave that travels
        throughout the universe, turning Lord Zedd, Rita, and Divatox into humans, Astronema into her former self (Karone), and the other villains into sand.</p>
    </div>

  </div>
</div>
